*{
    margin: 0px;
    padding: 0px;
    background-color: rgb(103, 199, 140);
}
#guesswhat{
   display: block;
   margin: 20px;
   height: 200px;
   
   text-align: center; 

}
#guessnumber{
    display: flex;
    border-radius: 20px;
    width: 210px;
    height: 30px;
    padding-right: 2px;
    padding-left: 5px;
   
    
}
#btn{
    border-radius: 5px;
    height: 30px;
    width: 70px;
}
.number{
    
    display: flex;
    gap: 30px;
    position: relative;
    margin: auto;
    top: 150px;
    align-content: center;
    border-color: rgb(79, 86, 112);
    position: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 20px;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
    width: 300px;
    height: 60px;

}
#result{
    padding: 20px;
    display: block;
    margin: 30px;
}